#form {
    background-color: #FFF;
    height: auto;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    padding-bottom: 20px;
    text-align:center;
}
label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 500px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    margin-right:15px;
    float:left;
}
input {
    height: 20px;
    width: 300px;
    border: 1px solid #000;
    margin-top: 5px;
}
#predict {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
    position: relative;
    top: 0.5%;
}
#clear {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
    box-sizing: border-box 1px;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 50%);
}