
.side-navbar {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #66d1d1;
  }
  
.intro-text{
    font-size: 20px; 
    font-weight: 250;   
  } 

  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: rgb(168, 164, 164);
  }

.nav-link {
  font-size: 18px;
  }
  
.dropdown-item {
    padding-left: 50px;
    color: #0d6efd;
    font-size: 16px
}

  #wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
  }
  
  .h1 {
    background-color: rgb(166, 178, 190);
    padding: 30px;
  }

  .h2 {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
  }

  .h4 {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
  }

  .h6 {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
  }

  #sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #66d1d1;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
  }

  .img {
    position: relative;
    max-height: 270px;
    min-height: 270px;
    min-width: 550px;
    max-width: 550px;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 10px;
  }

  
  #img-p{
    max-height: 270px;
    min-height: 270px;
    min-width: 300px;
    max-width: 300px;
    position:relative;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
  }

    
  #img-l{
    max-height: 270px;
    min-height: 270px;
    min-width: 300px;
    max-width: 300px;
    position:relative;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
  }

  #page-content-wrapper {
    width: 100%;
  }
  
  footer{
    background-color: rgb(166, 178, 190);
    position: relative;
    padding-top: 10px;
    bottom: 0;
  }
  
  .button {
    color: #66d1d1;
  }

  .card-title {
  font-size: 20px;
  padding: 20px;
  }

  .card-text{
    padding: 10px;
    }
  
  .img-text {
    color: #0d6efd;
    text-decoration: underline;
    font-size: 20px;
  }

  #our-images:hover{
    cursor: pointer;
    background-color: #b9f7f7;
    padding: 10px;
    border-radius: 25px;
  }

  #accordion-link{
    color: #0d6efd;
    text-decoration: underline;
    font-size: 20px;
  }
  #accordion-link:hover {
    cursor: pointer;
    padding: 10px; 
  }

  #accordion {
    margin: 20px;
}

.panel-group .panel, .panel-heading {
    border-radius: 0;
}

.panel-heading {
    height: 60px;
}

.panel-primary {
    border: none;
}

.panel-title a{
    text-decoration: none;
}


#calculator { 
  position: relative;
  top: 40%;
  left: 20%;
  margin: -150px 0 0 -150px;
  width:400px;
  height:400px;
  padding-left: 10px;
}

#accordion-body {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

#accordion-body-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
