
.side-navbar {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #66d1d1;
  }
  
.intro-text{
    font-size: 20px; 
    font-weight: 250;   
  } 

  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: rgb(168, 164, 164);
  }

.nav-link {
  font-size: 18px;
  }
  
.dropdown-item {
    padding-left: 50px;
    color: #0d6efd;
    font-size: 16px
}

  #wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
  }
  
  .h1 {
    background-color: rgb(166, 178, 190);
    padding: 30px;
  }

  .h2 {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
  }

  .h4 {
    padding-left: 50px;
    padding-right: 50px;
  }

  #sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #66d1d1;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
  }
  #img-p{
    max-height: 270px;
    position:relative;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
  }
  #page-content-wrapper {
    width: 100%;
  }
  
  footer{
    background-color: rgb(166, 178, 190);
    position: relative;
    padding-top: 10px;
    bottom: 0;
  }
  
  .button {
    color: #66d1d1;
  }

  .card-title {
  font-size: 20px;
  
  }

  .card-header{
    background-color: white;
  }
  .img-text {
    font-size: 20px;
  }

  /* .card-dashboard-one {
    position: relative;
    border-color: #cdd4e0;
     }
    .card-dashboard-one .card-header {
      padding: 20px;
      background-color: transparent; }
      @media (min-width: 576px) {
        .card-dashboard-one .card-header {
          display: flex;
          align-items: flex-start;
          justify-content: space-between; } }
      .card-dashboard-one .card-header .card-title {
        color: #1c273c;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 3px; }
      .card-dashboard-one .card-header .card-text {
        margin-bottom: 0; }
      .card-dashboard-one .card-header .btn-group {
        margin-top: 15px; 
        color: #66d1d1}
        @media (min-width: 576px) {
          .card-dashboard-one .card-header .btn-group {
            margin-top: 0; } }
        .card-dashboard-one .card-header .btn-group .btn {
          font-size: 12px;
          font-weight: 500;
          padding: 5px 10px;
          min-height: inherit;
          background-color: #fff;
          color: #7987a1;
          border: 1px solid #cdd4e0; }
          .card-dashboard-one .card-header .btn-group .btn:hover, .card-dashboard-one .card-header .btn-group .btn:focus {
            background-color: #f4f5f8;
            border-color: #cdd4e0; }
          .card-dashboard-one .card-header .btn-group .btn + .btn {
            margin-left: -1px; }
          .card-dashboard-one .card-header .btn-group .btn.active {
            color: #1c273c;
            background-color: #e3e7ed;
            border-color: #cdd4e0; }
    .card-dashboard-one .card-body {
      padding: 10px 0 20px;
      position: relative;
      overflow: hidden; }
      .card-dashboard-one .card-body .flot-chart-wrapper {
        position: relative;
        margin-left: -28px;
        margin-right: -20px; }
      .card-dashboard-one .card-body .flot-chart {
        width: 100%;
        height: 150px; }
        @media (min-width: 576px) {
          .card-dashboard-one .card-body .flot-chart {
            height: 275px; } }
        @media (min-width: 992px) and (max-width: 1199.98px) {
          .card-dashboard-one .card-body .flot-chart {
            height: 252px; } }
        .card-dashboard-one .card-body .flot-chart .flot-y-axis > div {
          transform: translateX(50px);
          text-shadow: 1px 1px rgba(255, 255, 255, 0.75);
          color: #031b4e;
          font-weight: 700;
          font-size: 20px; }
        .card-dashboard-one .card-body .flot-chart .flot-x-axis > div {
          color: #97a3b9;
          font-weight: 500;
          font-size: 20px; }
    .card-dashboard-one .card-body-top {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-left: 20px; }
      @media (min-width: 576px) {
        .card-dashboard-one .card-body-top {
          position: absolute;
          top: -5px;
          left: 20px;
          z-index: 5;
          padding-left: 0; } }
      .card-dashboard-one .card-body-top > div {
        flex-basis: 50%; }
        @media (min-width: 576px) {
          .card-dashboard-one .card-body-top > div {
            flex-basis: auto; } }
        @media (min-width: 576px) {
          .card-dashboard-one .card-body-top > div + div {
            margin-left: 30px; } }
      .card-dashboard-one .card-body-top label {
        font-size: 20px;
        margin-bottom: 3px; }
        @media (min-width: 576px) {
          .card-dashboard-one .card-body-top label {
            font-size: 0.875rem; } }
      .card-dashboard-one .card-body-top h2 {
        font-size: 20px;
        font-weight: 600;
        font-family: "Archivo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        color: #1c273c; }
        @media (min-width: 576px) {
          .card-dashboard-one .card-body-top h2 {
            font-size: 24px;
            letter-spacing: -.5px; } } */
