body {
  font-family: Cambria, Times, 'Times New Roman', serif !important;
}

.side-navbar {
  position: absolute;
  top: 0;
  width: 160px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgb(53, 57, 61);
}
  
.intro-text{
  font-size: 20px; 
  font-weight: 250;   
} 

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: rgb(221, 227, 233);
  color: black;
}

.nav-link {
font-size: 18px;
color: white;
}
  
.dropdown-item {
    padding-left: 20px;
    color: white;
    font-size: 14px;
}

#wrapper {
  padding-left: 140px;
  transition: all 0.4s ease 0s;
}

a { color: #018f8f; }

p {line-height: 1.25; } 

#further-reading {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.h1 {
  background-color: rgba(0,0,0,.03);;
  color: #018f8f;
  /*color: #66d1d1;*/
  padding: 30px;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
  border-left: 1px solid rgba(0,0,0,.125);
}

.h2 {
  padding-left: 50px;
  padding-right: 50px;
}

.h4 {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.h5 {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.h6 {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
}

#sidebar-wrapper {
  margin-left: -253px;
  left: 230px;
  width: 163px;
  background: rgb(53, 57, 61);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

.img {
  position: relative;
  max-height: 270px;
  min-height: 270px;
  min-width: 550px;
  max-width: 550px;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 10px;
}

#img-p{
  max-height: 270px;
  min-height: 270px;
  min-width: 300px;
  max-width: 300px;
  position:relative;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
}

#img-l{
  max-height: 270px;
  min-height: 270px;
  min-width: 300px;
  max-width: 300px;
  position:relative;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
}

#page-content-wrapper {
  width: 100%;
}

footer{
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
  border-left: 1px solid rgba(0,0,0,.125);
  position: relative;
  padding-top: 10px;
  bottom: 0;
}

.button {
  color: #66d1d1;
}

.card-title {
  font-size: 20px;
  padding: 20px;
}

.card-text{
  padding: 10px;
  }

.img-text {
  color: #018f8f;
  text-decoration: underline;
  font-size: 20px;
}

#our-images{
  padding-bottom: 30px;
}

#our-images:hover{
  background-color: #2c2c2c15;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 0 8px 8px white inset;
}

#accordion-link{
  color: #018f8f;
  text-decoration: underline;
  font-size: 20px;
}

#accordion-link:hover {
  cursor: pointer;
  padding: 10px; 
}

.accordion-item {
  margin-left: 40px;
  margin-top: 20px;
}

.accordion{
  margin-left: 40px;
  margin-top: 20px;
}

.accordion-button {
  background-color: rgba(0,0,0,.03);
}

.accordion-button:focus {
  background-color: rgba(0,0,0,.03);
  color: #018f8f;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(0,0,0,.03);
  color: #018f8f;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.panel-group .panel, .panel-heading {
  border-radius: 0;
}

.panel-heading {
  height: 60px;
}

.panel-primary {
  border: none;
}

.panel-title a{
  text-decoration: none;
}

#calculator { 
  position: relative;
  top: 40%;
  left: 20%;
  margin: -150px 0 0 -150px;
  width:400px;
  height:400px;
  padding-left: 10px;
}

/*Grow: https://stackoverflow.com/questions/5909688/multiline-content-in-a-div-display-only-the-first-line-if-clicked-show-all-an/39857878*/
.grow {
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  height: 1em;
  overflow-y: hidden;
}
.grow:hover {
  height: auto;
}
#calc {
  font-size: small;
  height: 30px;
  width: auto;
}
#stateInput{
  width: 200px;
}