{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="row row-sm">
    <div class="col-lg-12 text-center">
      <p class="h1">About Us</p>
    </div>
    <div class = "container">
      <div class="row row-sm m-4">
    <div class="col-lg-12 ht-lg-100p">
      <p class="h2 border-bottom">Meet the Team:</p>
      <p class="h4">If you'd like to learn more about any of our team members, click on our names to visit our github!
      </p>
    </div>
    
    <div class="row py-5">
      <div class="col-lg-3" id="our-images" onclick='window.open(href="https://github.com/Kylee-Grant")'>
        <img src="../static/images/K.jpg" class="img-fluid" id="img-p" alt="Cinque Terre">
        <p class="img-text text-center">Kylee Grant</p>
      </div>
      <div class="col-lg-3" id="our-images" onclick='window.open(href="https://github.com/leah-handel")'>
        <img src="../static/images/L.jpeg" class="img-fluid" id="img-p" alt="Cinque Terre">
        <p class="img-text text-center">Leah Handel</p>
      </div>
      <div class="col-lg-3" id="our-images" onclick='window.open(href="https://github.com/yifffC")'>
        <img src="../static/images/y.png" class="img-fluid" id="img-p" alt="Cinque Terre">
        <p class="img-text text-center">Yifei Cao</p>
      </div>
      <div class="col-lg-3" id="our-images" onclick='window.open(href="https://github.com/SANAJESS")'>
        <img src="../static/images/S.png" class="img-fluid" id="img-p" alt="Cinque Terre">
        <p class="img-text text-center">Sana Jessani</p>
      </div>
    </div>
    
    <div class="row py-5">
      <div class="col-lg-3" id="our-images" onclick='window.open(href="https://github.com/arriova16")'>
        <img src="../static/images/T.jpg" class="img-fluid" id="img-l" alt="Cinque Terre">
        <p class="img-text text-center">Tori Arriola</p>
      </div>
      <div class="col-lg-3" id="our-images" onclick='window.open(href="https://github.com/catielutz")'>
        <img src="../static/images/C.jpg" class="img-fluid" id="img-l" alt="Cinque Terre">
        <p class="img-text text-center">Catie Lutz</p>
      </div>
      <div class="col-lg-3" id="our-images" onclick='window.open(href="https://github.com/rsa153")'>
        <img src="../static/images/R.jpeg" class="img-fluid" id="img-l" alt="Cinque Terre">
        <p class="img-text text-center">Rana Saber</p>
      </div>
    </div>
  </div>
</div>


  
{% endblock %}

{% block script %}
{% endblock %}