{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="row row-sm">
    <div class="col-lg-12 text-center">
      <p class="h1">About the data</p>
    </div>
    <div class="col-lg-11 ht-lg-100 m-4">
      <div class="container">
        <div class="row row-sm m-4">
          <div class="col-lg-12 ht-lg-100p">
            <p class="h2 border-bottom">Inspiration and Guiding Questions</p>
            <p class="h4">Building upon our <a href="https://github.com/Kylee-Grant/Project-2">prior work</a>, we aim to
              use machine learning to predict the
              effect access to contraception and family planning services has on teen pregnancy and birth rates.
              We hope that the resulting models of this project will help elucidate the most efficacious
              interventions in the outcomes of teen pregnancies and births.</p>
  
            <p class="h2 border-bottom">Overview Datasets used</p>
            <p class="h4">Below is a list of the datasets used in our analysis</p>
  
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Publicly Funded Contraceptive Services at U.S. Clinics
                </button>
              </h2>
              <div class="accordion">
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the
                    collapse plugin adds the appropriate classes that we use to style each element. These classes
                    control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                    modify any of this with custom CSS or overriding our default variables. It's also worth noting
                    that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                    does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Accordion Item #3
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                    collapse plugin adds the appropriate classes that we use to style each element. These classes
                    control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                    modify any of this with custom CSS or overriding our default variables. It's also worth noting
                    that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                    does limit overflow.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="h2 border-bottom"></p>
  
          <p class="h2 border-bottom">Dataset Overview</p>
          <p class="h4">We utilized two datasets from the National Center for Health Statistics, which is part of
            the Centers for Disease Control and Prevention. In addition, we utilized the JSON version of the U.S.
            and State Trends on Teen Births dataset in addition to GeoJSON boundaries for the states.
          </p>
        </div>
      </div><!-- card -->
    </div><!-- card -->
  </div><!-- card -->
  </div><!-- card -->
  
{% endblock %}

{% block script %}
{% endblock %}