<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About the Data</title>
  <link rel="shortcut icon" type="image/jpg" href="../static/images/Northwestern University favicon.png"/>

  <!-- Bootstrap Core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="../static/css/reset.css" rel="stylesheet">
  <link href="../static/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

  <div id="wrapper">
    <div id="sidebar-wrapper">
      <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column ps-3 pt-3" id="sidebar">
        <br>
        <a href="/dashboard" class="nav-link py-3 border-bottom" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
          Dashboard
        </a>
        <br>
        <div class="nav nav-pills nav-flush flex-column mb-auto">
          <div class="nav-item">
            <div class="dropdown-item" onclick="window.location.href='geomap'">Map of Rates</div>
            <div class="dropdown-item" onclick="window.location.href='county_census_map'">Map of Clinics</div>
            <div class="dropdown-item" onclick="window.location.href='line_chart'">Rate by State vs. US</div>
            <div class="dropdown-item" onclick="window.location.href='group_bar'"> Rate by Age Range</div>
            <div class="dropdown-item border-bottom pb-3" onclick="window.location.href='state_county_bar_chart'">Rate Change</div>
          </div>
          <div>
            <a href="aboutdata" class="nav-link py-3 border-bottom" title="Customers" data-bs-toggle="tooltip"
              data-bs-placement="right">
              About the Data
            </a>
          </div>
          <div>
            <a href="aboutus" class="nav-link py-3" title="Customers" data-bs-toggle="tooltip"
              data-bs-placement="right">
              About Us
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-sm">
      <div class="col-lg-12 text-center">
        <p class="h1">About the Data</p>
      </div>

      <div class="col-lg-11 ht-lg-100 m-4">
        <div class="container">
          <div class="row row-sm m-4">
            <div class="col-lg-12 ht-lg-100p">
              <p class="h2 border-bottom">Inspiration and Guiding Questions</p>
              <p class="h5 mx-5">Our team was inspired to understand to a greater extent the occurrence of teen pregnancy and birth across the United States. 
                Initially, we wanted to investigate the overall trends and correlations between the rate of teen births and other factors, such as age and location.</p>
              <p class="h5 mx-5">Building upon our <a href="https://github.com/Kylee-Grant/Project-2">prior work</a>, we aimed
                to use machine learning to predict the effect access to contraception and family planning services has on teen pregnancy and birth rates.
                We hope that the visualizations and resulting model of this project help elucidate the recent birth rate trends and most efficacious
                interventions in the outcomes of teen pregnancies and births.</p>

                <br>
                <br>
                
              <p class="h2 border-bottom">Overview of Datasets</p>
              <p class="h5 mx-5">Below is a list of the datasets used in our analysis:</p>

              <div class="accordion">

                <div class="accordion-item m-4 ">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
                      Publicly Funded Contraceptive Services at U.S. Clinics
                    </button>
                  </h2>

                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="h6">Source: <a
                        href="https://www.guttmacher.org/report/publicly-funded-contraceptive-services-us-clinics-2015" target="_blank">Guttmacher
                        Institute (2015 and 2010)</a></p>
                        <p class="h6">The Guttmacher Institute estimated the total number of women who received publicly
                      supported contraceptive care in 2010 and 2015 using service data for all agencies and clinics that
                      provided publicly funded family planning services in the 50 states and the District of Columbia.
                      They obtained clinic and client data from several federal sources, such as the Office of
                      Population Affairs (OPA) and US Department of Health and Human Services.</p>
                    </div>
                  </div>
                </div>
            
                <div class="accordion-item m-4">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseThree">
                      Publicly Supported Family Planning Services in the United States: Likely Need, Availability and Impact
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="h6">Source: <a
                        href="https://www.guttmacher.org/report/publicly-supported-FP-services-US-2016" target="_blank">Guttmacher Institute (2016)</a></p>
                    
                      <p class="h6">The Guttmacher Institute estimated for 2016 for the following key indicators measuring the likely need for, actual provision of, and the impact of publicly supported
                      contraceptive/sexual and reproductive health services:</p>
                      
                      <p class="h6 m-2">1. The numbers of women likely in need of public support for contraceptive services according to age, income level, race and ethnicity, and health insurance status.
                      <br><br>2. The numbers of women who received contraceptive services at all publicly supported family planning providers.
                      <br><br>3. The numbers of reproductive health outcomes prevented among women who received publicly supported contraceptive care, such as pregnancies as well as STIs. 
                      <br><br>4. The cost savings in public funds that result from preventing negative health outcomes.</p>
                      
                      <p class="h6">The dataset was based on information from data from the U.S. Census Bureau in 2016, the 2014–2016 American Community Survey (ACS), and the 2011–2015 National Survey of Family Growth (NSFG).</p>
                    </div>
                  </div>
                </div>
                
                <div class="accordion-item m-4">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      State Population Totals and Components of Change
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="h6">Source: <a
                        href="https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-total.html" target="_blank">Census Bureau (2010-2019)</a></p>
                        <p class="h6">This is a collection of annual population estimates, estimated components of resident population change, and rates of the components of resident population change for the United States and Puerto Rico from April 1, 2010 to July 1, 2019.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item m-4">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                      Social Vulnerability Index
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="h6">Source: <a
                        href="https://www.atsdr.cdc.gov/placeandhealth/svi/data_documentation_download.html" target="_blank">CDC/Agency for Toxic Substances and Disease Registry (2018)</a></p>
                        <p class="h6">Social vulnerability refers to the potential negative effects on communities caused by external stresses on human health. Such stresses include natural or human-caused disasters, or disease outbreaks. Reducing social vulnerability can decrease both human suffering and economic loss. The CDC/ATSDR Social Vulnerability Index (CDC/ATSDR SVI) uses 15 U.S. census variables to help local officials identify communities that may need support before, during, or after disasters. Read more about the <a href="https://www.atsdr.cdc.gov/placeandhealth/svi/fact_sheet/fact_sheet.html">Social Vulnerability Index</a>.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item m-4">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                      Teen Birth Rates for Age Group 15-19 in the United States by County
                    </button>
                  </h2>
                  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="h6">Source: <a
                        href="https://catalog.data.gov/dataset/nchs-teen-birth-rates-for-age-group-15-19-in-the-united-states-by-county" target="_blank">NCHS (2018)</a></p>
                        <p class="h6">This dataset details estimated birth rates, expressed per 1,000 females aged 15–19, for 3,137 U.S. counties. This data spans 2003 to 2018 and largely is sourced from the National Vital Statistics System birth data files. For further information, please see the documentation at the link above. </p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item m-4">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                      U.S. and State Trends on Teen Births
                    </button>
                  </h2>
                  <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="h6">Source: <a
                        href="https://catalog.data.gov/dataset/nchs-u-s-and-state-trends-on-teen-births" target="_blank">NCHS (2018)</a></p>
                        <p class="h6">This dataset assembles all final birth data for females aged 15–19, 15–17, and 18–19 for the United States and each of the 50 states, expressed per 1,000 females in each age range. This data spans 1990–2018 and is based on 100% of birth certificates filed in 50 states. </p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item m-4">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                      Cartographic Boundary Files
                    </button>
                  </h2>
                  <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="h6">Source: <a
                        href="https://eric.clst.org/tech/usgeojson/" target="_blank">US Census Boundaries</a></p>
                        <p class="h6">For this project, we referenced the work of Eric Celeste, who has taken the United States Census Cartographic Boundary Files and converted them to GeoJSON using the MyGeoData vector converter.</p>
                    </div>
                  </div>
                </div>
              </div>
          <br>

          <p class="h2 border-bottom">Our Machine Learning Model</p>
          <p class="h5 mx-5">We used a random forest regression model to analyze the effect of specific measures of access to contraceptive care as well as community vulnerability on the teen birth rate. 
            Of the specific factors fed into our model, overall community vulnerability, insurance status, and the number of clinics per capita had the greatest feature importances.</p>
          <div class="accordion">
            
            <div class="accordion-item m-4">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
                  Specific Factors in Teen Pregnancy
                </button>
              </h2>
              <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="h6">The factors that go into the SVI are complex, and we also wanted to identify some simpler policy issues
                    that affect teen pregnancy. In other words, what recommendations could we make to specifically address
                    teen pregnancy? For this analysis, we created a random forest regression model to analyze the relative
                    importance of each factor and to predict the effects of specific healthcare access issues on teen
                    pregnancy. We used data from the Guttmacher Institute on contraceptive healthcare providers in each
                    county, adjusted to a per capita basis. We also included SVI scores in our model to control for
                    correlation between it and our specific access measures.</p>
                  <p class="h6">After SVI, the largest factor we identified in our model was the percent of residents who are uninsured
                    (feature importance = 25.0%) and the number of contraceptive clinics per capita (.07%). Less significant
                    factors include the number of Planned Parenthood clinics per capita (2.6%) and the number of hospitals
                    per capita (0.4%). Model R^2 = .53.</p>
                  <p class="h6">
                    <b>Machine Learning Model Factors:</b><br><br>
                    1. Clinics Per Capita<br><br>
                    2. Title X Clinics Per Capita<br><br>
                    3. Planned Parenthood Per Capita<br><br>
                    4. Health Department Clinics Per Capita<br><br>
                    5. Hospitals Per Capita<br><br>
                    6. Title X Clients Per Capita<br><br>
                    7. Planned Parenthood Clients Per Capita<br><br>
                    8. Title X Department Clinic Per Capita<br><br>
                    9. Percent of Population Uninsured (00.00)<br><br>
                    10. Social Vulnerability Index<br><br><br>
                    Although not all factors can be edited in our interactive calculator, all factors are fed into the prediction tool. 
                    The factors that cannot be edited by users are automatically filled out with the data of the selected county. 
                  </p>
                </div>
              </div>
            </div>
           
            <div class="accordion-item m-4">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                  Incorporating the Social Vulnerability Index
                </button>
              </h2>
              <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="h6">The strongest correlation we found to teen pregnancy was the CDC’s Social Vulnerability Index (SVI). The
                    SVI is an aggregation of social and demographic data including employment, access to transportation,
                    crowding, and language. It was designed to help officials direct public health and emergency response
                    resources to vulnerable populations.</p>
                  <p class="h6">We found that a county’s teen pregnancy rate had a strong, linear relationship with its SVI score (R^2 =
                    .46, P < 10^15).</p>
                  <br>
                  <img src="../static/images/linear_regression.png" alt="regression" class="img-fluid">
                  <br>
                  <p class="h6">The SVI is about identifying places where health resources are harder to access, and its correlation
                    with the teen birth rate shows that teen pregnancy is not a moral problem, but one of access to
                    healthcare.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container py-2">
      <div class="row text-center m-3">
        <div class="col-lg-12 text-center">
          <span class="copyright quick-links">Created in 2021. Accessed in 
            <script>document.write(new Date().getFullYear())</script>.
          </span>
        </div>
      </div>
    </div>
  </footer>

  <!-- <script src="../lib/jquery/jquery.min.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../lib/jquery.flot/jquery.flot.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"></script>
</body>

</html>