<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DWP: Dashboard</title>

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>


  <!-- Custom styles for this template -->
  <link href="../static/css/reset.css" rel="stylesheet">
  <link href="../static/css/simple-sidebar.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="bootstrap" viewBox="0 0 118 94">
      <title>Bootstrap</title>
    </symbol>
    <symbol id="home" viewBox="0 0 16 16">
      <path
        d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
    </symbol>
    <symbol id="speedometer2" viewBox="0 0 16 16">
      <path
        d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
      <path fill-rule="evenodd"
        d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
    </symbol>
    <symbol id="people-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
      <path fill-rule="evenodd"
        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
    </symbol>
    <symbol id="grid" viewBox="0 0 16 16">
      <path
        d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
    </symbol>
  </svg>

  <div id="wrapper">
    <div id="sidebar-wrapper">
      <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column ps-3 pt-3" id="sidebar">
        <br>
        <div class="intro-text py-3 border-bottom">Welcome to DWP's Data Dashboard</div>
        <br>
        <div class="nav nav-pills nav-flush flex-column mb-auto">
          <div class="nav-item">
            <a href="" class="nav-link" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
              <svg class="bi" width="24" height="24">
                <use xlink:href="#speedometer2" />
              </svg>
              Dashboard
            </a>
            <div class="dropdown-item" onclick="window.open(href='geomap')">Map of Teen Birth Rates</div>
            <div class="dropdown-item" onclick="window.open(href='group_bar')">Group Bar</div>
            <div class="dropdown-item" onclick="window.open(href='line_chart')">Line Chart</div>
            <div class="dropdown-item border-bottom pb-3" onclick="window.open(href='state_county_bar_chart')">State County Bar</div>
          </div>
          <div>
            <a href="aboutdata" class="nav-link py-3 border-bottom" title="Customers" data-bs-toggle="tooltip"
              data-bs-placement="right">
              <svg class="bi" width="24" height="24">
                <use xlink:href="#grid" />
              </svg>
              About The Data
            </a>
          </div>
          <div>
            <a href="aboutus" class="nav-link py-3" title="Customers" data-bs-toggle="tooltip"
              data-bs-placement="right">
              <svg class="bi" width="24" height="24">
                <use xlink:href="#people-circle" />
              </svg>
              About Us
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="row row-sm mg-b-20">
      <div class="col-lg-12 text-center">
        <p class="h1">DWP Data Dashboard Overview</p>
      </div>

      <div class="col-lg-6 ht-lg-100 m-4">
        <div class="card card-dashboard-one">
          <div class="card-header">
            <div>
              <h6 class="card-title text-center">US Map of Teen Birth Rates</h6>
              <p class="card-text"></p>
            </div>
          </div><!-- card-header -->
          <div class="card-body">
            <div class="flot-chart-wrapper">
              <img src="../static/images/map.png" class="img-fluid" alt="Map">
            </div>
          </div><!-- flot-chart-wrapper -->
        </div><!-- card-body -->
      </div><!-- card -->

      <div class="col-lg-5 ht-lg-100p m-4">
        <div class="card card-dashboard-one">
          <div class="card-header">
            <div>
              <h6 class="card-title text-center">Teen Birthrate by State vs. US Total Line Chart</h6>
              <p class="card-text"></p>
            </div>
          </div><!-- card-header -->
          <div class="card-body">
            <div class="flot-chart-wrapper m-2">
              <canvas id="myChart" class="flot-chart"></canvas>
              <div class="row m-3">
                <br>
                <div class="col-4">
                  <button type="button" class="btn btn-secondary" id="clear">Clear States</button>
                </div>
                <div class="col-3">
                  <button type="button" class="btn btn-secondary" id="add_state">Add State</button>
                </div>
                <div class="col-3">
                  <input class="form-control" type="text" id="state_input" placeholder="IL">
                </div>
              </div>
            </div><!-- flot-chart-wrapper -->
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- card -->


      <div class="col-lg-6 ht-lg-100p m-4">
        <div class="card card-dashboard-one">
          <div class="card-header">
            <div>
              <h6 class="card-title text-center">Interactive State and County Bar Chart</h6>
              <p class="card-text"></p>
            </div>
          </div><!-- card-header -->
          <div class="card-body">
            <div class="flot-chart-wrapper m-2">
              <canvas id="stateChart"></canvas>
              <br>
              <div class="row">
                <div class="col-3">
                  <button type="button" class="btn btn-secondary" id="clear_bars">Clear States</button>
                </div>
                <div class="col-3">
                  <button type="button" class="btn btn-secondary" id="add_state_bars">Add State</button>
                </div>
                <div class="col-3">
                  <input class="form-control" type="text" id="state_input_bars" placeholder="IL">
                </div>
              </div>
              <canvas id="countyChart"></canvas>
            </div><!-- flot-chart-wrapper -->
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- card -->


      <div class="col-lg-5 ht-lg-100p mt-4">
        <div class="card card-dashboard-one">
          <div class="card-header">
            <div>
              <h6 class="card-title text-center">Teen Birthrate by State vs. US Total Bar Chart</h6>
              <p class="card-text"></p>
            </div>
          </div><!-- card-header -->
          <div class="card-body">
            <div class="flot-chart-wrapper m-2">
              <div id='plot' class="flot-chart"></div>
            </div><!-- flot-chart-wrapper -->
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- col -->
    </div><!-- col -->

    <footer>
      <div class="container py-2">
        <div class="row text-center m-3">
          <div class="col-lg-12 text-center">
            <span class="copyright quick-links">Copyright &copy; DWP Data Dashboard
              <script>document.write(new Date().getFullYear())</script>
            </span>
          </div>
        </div>
      </div>
    </footer>

    <!--Scripts-->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <!-- <script type="text/javascript" src="../static/js/choropleth.js"></script> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript">
      var birthRate1517 = '{{ birthRate1517|tojson }}'
      var birthRate1517 = JSON.parse(birthRate1517)
      var birthRate1819 = '{{ birthRate1819|tojson }}'
      var birthRate1819 = JSON.parse(birthRate1819)
    </script>
    <script type="text/javascript">
      var USData = '{{ USData|tojson }}'
      var USData = JSON.parse(USData)
      var stateData = '{{ stateData|tojson }}'
      var stateData = JSON.parse(stateData)
    </script>

    <script type="text/javascript">
      var countyCSV = '{{ countyCSV|tojson }}'
      var countyCSV = JSON.parse(countyCSV)
      var nationalCSV = '{{ nationalCSV|tojson }}'
      var nationalCSV = JSON.parse(nationalCSV)
    </script>

    <script type="text/javascript" src="../static/js/line_Chart_LH.js"></script>
    <!-- <script type="text/javascript" src="../static/js/geomap.js"></script> -->
    <script src="../static/js/group_bar.js"></script>
    <script type="text/javascript" src="static/js/state_county_bars_LH.js"></script>

</body>

</html>