<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teen Birth Rate by Age Range</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <link href="../static/css/reset.css" rel="stylesheet">
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
</head>
<body>
    <div id='plot'></div>
    
    
    <!--Jinja variables-->
    <script type="text/javascript">
        var birthRate1517 = '{{ birthRate1517|tojson }}'
        var birthRate1517 = JSON.parse(birthRate1517)
        var birthRate1819 = '{{ birthRate1819|tojson }}'
        var birthRate1819 = JSON.parse(birthRate1819)
    </script>
    <!--Connect to JavaScript Document-->
    <script src="static/js/group_bar.js"></script>
</body>
</html>
