<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Teen Birth Rate 2003–2018</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="../static/css/reset.css" rel="stylesheet">
  <link href="../static/css/simple-sidebar.css" rel="stylesheet">
</head>

<body>
    <div class="row">
        <div class="chart-container col-9">
            <canvas id="myChart">
            <!-- chart goes here -->
            </canvas>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-3">
            <button type="button" class="btn btn-secondary" id="clear">Clear States</button>
        </div>
        <div class = "col-3">
            <button type="button" class="btn btn-secondary" id="add_state">Add State</button>
        </div>
        <div class = "col-3">
            <input class="form-control" type="text" id="state_input" placeholder="Illinois">
        </div>
        
    </div>
    <div class="test"><ul></ul></div>

<!--Scripts-->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script src = "https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<!--Jinja variables-->
<script type="text/javascript">
    var USData = '{{ USData|tojson }}'
    var USData = JSON.parse(USData)
    var stateData = '{{ stateData|tojson }}'
    var stateData = JSON.parse(stateData)
</script>
<!--Connect to JavaScript Document-->
<script type="text/javascript" src="../static/js/line_Chart_LH.js"></script>

</body>
</html>
