<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <title>Rate Change</title>
  <link rel="shortcut icon" type="image/jpg" href="../static/images/Northwestern University favicon.png"/>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>

  <!-- Leaflet JavaScript Code -->
  <script type="text/javascript" src="../static/js/choropleth.js"></script>

  <!-- D3 Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"
  integrity="sha512-L5K9Bf852XyB+wrvRFGwWzfhVI+TZqJlgwzX9yvrfhILuzIZfrcQO4au9D9eVDnkQ6oqYr9v2QwJdFo+eKE50Q=="
  crossorigin="anonymous"></script>

  <!-- CSS Files -->
  <link href="../static/css/reset.css" rel="stylesheet">
  <link href="../static/css/simple-sidebar.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet" type="text/css">
  <link href="../static/css/clinic-style.css" rel="stylesheet" type="text/css">

</head>

<body>

<div id="wrapper">
 <div id="sidebar-wrapper">
   <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column ps-3 pt-3" id="sidebar">
     <br>
     <a href="/dashboard" class="nav-link py-3 border-bottom" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
       Dashboard
     </a>
     <br>
     <div class="nav nav-pills nav-flush flex-column mb-auto">
       <div class="nav-item">
        <div class="dropdown-item" onclick="window.location.href='geomap'">Map of Rates</div>
        <div class="dropdown-item" onclick="window.location.href='county_census_map'">Map of Clinics</div>
        <div class="dropdown-item" onclick="window.location.href='line_chart'">Rate by State vs. US</div>
        <div class="dropdown-item" onclick="window.location.href='group_bar'"> Rate by Age Range</div>
        <div class="dropdown-item border-bottom pb-3" onclick="window.location.href='state_county_bar_chart'">Rate Change</div>
       </div>
       <div>
         <a href="aboutdata" class="nav-link py-3 border-bottom" title="Customers" data-bs-toggle="tooltip"
           data-bs-placement="right">
           About the Data
         </a>
       </div>
       <div>
         <a href="aboutus" class="nav-link py-3" title="Customers" data-bs-toggle="tooltip"
           data-bs-placement="right">
           About Us
         </a>
       </div>
     </div>
   </div>
 </div>

  <div class="row row-sm mg-b-20">
   <div class="col-lg-12 text-center">
     <p class="h1">Birth Rate Trends by State and County</p>
   </div>

    <div class="row">
        <div class="chart-container col-9">
            <canvas id="stateChart">
            <!-- chart goes here -->
            </canvas>
        </div>
    </div>
    <br><div class="row m-3">
        <div class="col-3">
            <button type="button" class="btn btn-secondary" id="clear_bars">Clear States</button>
        </div>
        <div class = "col-3">
            <button type="button" class="btn btn-secondary" id="add_state_bars">Add State</button>
        </div>
        <div class = "col-3">
            <input class="form-control" type="text" id="state_input_bars" placeholder="Illinois">
        </div>
        
    </div><br>
    <div class="row">
        <div class="chart-container col-9">
            <canvas id="countyChart">
            <!-- chart goes here -->
            </canvas>
        </div>
    </div>

    <footer>
        <div class="container py-2">
          <div class="row text-center m-3">
            <div class="col-lg-12 text-center">
              <span class="copyright quick-links">Created in 2021. Accessed in 
                <script>document.write(new Date().getFullYear())</script>.
              </span>
            </div>
          </div>
        </div>
      </footer>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script src = "https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@1"></script>
<!--Jinja variables-->
<script type="text/javascript">
    var counties = '{{ counties|tojson }}'
    var counties = JSON.parse(counties)
    var states = '{{ states|tojson }}'
    var states = JSON.parse(states)
</script>
<!--Connect to JavaScript Document-->
<script type="text/javascript" src="static/js/state_county_bars_LH.js"></script>

</body>